<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.crm.mapper.FunctionMapper" >
  <resultMap id="BaseResultMap" type="com.zking.crm.model.Function" >
    <constructor >
      <idArg column="function_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="function_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="path" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parameter" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="method" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="function_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    function_id, function_name, path, parameter, method, function_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_function
    where function_id = #{functionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_function
    where function_id = #{functionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.crm.model.Function" >
    insert into sys_function (function_id, function_name, path, 
      parameter, method, function_desc
      )
    values (#{functionId,jdbcType=BIGINT}, #{functionName,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{parameter,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{functionDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.crm.model.Function" >
    insert into sys_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="functionId != null" >
        function_id,
      </if>
      <if test="functionName != null" >
        function_name,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="parameter != null" >
        parameter,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="functionDesc != null" >
        function_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="functionId != null" >
        #{functionId,jdbcType=BIGINT},
      </if>
      <if test="functionName != null" >
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null" >
        #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="functionDesc != null" >
        #{functionDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.crm.model.Function" >
    update sys_function
    <set >
      <if test="functionName != null" >
        function_name = #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null" >
        parameter = #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="functionDesc != null" >
        function_desc = #{functionDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where function_id = #{functionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.crm.model.Function" >
    update sys_function
    set function_name = #{functionName,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      parameter = #{parameter,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      function_desc = #{functionDesc,jdbcType=VARCHAR}
    where function_id = #{functionId,jdbcType=BIGINT}
  </update>
</mapper>