<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.crm.mapper.RoleRightMapper" >
  <resultMap id="BaseResultMap" type="com.zking.crm.model.RoleRight" >
    <constructor >
      <idArg column="rf_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="rf_role_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="rf_right_code" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    rf_id, rf_role_id, rf_right_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role_right
    where rf_id = #{rfId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role_right
    where rf_id = #{rfId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.crm.model.RoleRight" >
    insert into sys_role_right (rf_id, rf_role_id, rf_right_code
      )
    values (#{rfId,jdbcType=BIGINT}, #{rfRoleId,jdbcType=BIGINT}, #{rfRightCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.crm.model.RoleRight" >
    insert into sys_role_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rfId != null" >
        rf_id,
      </if>
      <if test="rfRoleId != null" >
        rf_role_id,
      </if>
      <if test="rfRightCode != null" >
        rf_right_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rfId != null" >
        #{rfId,jdbcType=BIGINT},
      </if>
      <if test="rfRoleId != null" >
        #{rfRoleId,jdbcType=BIGINT},
      </if>
      <if test="rfRightCode != null" >
        #{rfRightCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.crm.model.RoleRight" >
    update sys_role_right
    <set >
      <if test="rfRoleId != null" >
        rf_role_id = #{rfRoleId,jdbcType=BIGINT},
      </if>
      <if test="rfRightCode != null" >
        rf_right_code = #{rfRightCode,jdbcType=VARCHAR},
      </if>
    </set>
    where rf_id = #{rfId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.crm.model.RoleRight" >
    update sys_role_right
    set rf_role_id = #{rfRoleId,jdbcType=BIGINT},
      rf_right_code = #{rfRightCode,jdbcType=VARCHAR}
    where rf_id = #{rfId,jdbcType=BIGINT}
  </update>
</mapper>