<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.crm.mapper.ServiceMapper" >
  <resultMap id="BaseResultMap" type="com.zking.crm.model.Service" >
    <constructor >
      <idArg column="svr_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="svr_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_cust_no" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="svr_cust_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_request" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_create_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="svr_create_by" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_create_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="svr_due_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_due_to" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_due_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="svr_deal" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_deal_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="svr_deal_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="svr_result" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="svr_satisfy" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    svr_id, svr_type, svr_title, svr_cust_no, svr_cust_name, svr_status, svr_request, 
    svr_create_id, svr_create_by, svr_create_date, svr_due_id, svr_due_to, svr_due_date, 
    svr_deal, svr_deal_id, svr_deal_date, svr_result, svr_satisfy
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cst_service
    where svr_id = #{svrId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cst_service
    where svr_id = #{svrId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.crm.model.Service" >
    insert into cst_service (svr_id, svr_type, svr_title, 
      svr_cust_no, svr_cust_name, svr_status, 
      svr_request, svr_create_id, svr_create_by, 
      svr_create_date, svr_due_id, svr_due_to, 
      svr_due_date, svr_deal, svr_deal_id, 
      svr_deal_date, svr_result, svr_satisfy
      )
    values (#{svrId,jdbcType=BIGINT}, #{svrType,jdbcType=VARCHAR}, #{svrTitle,jdbcType=VARCHAR}, 
      #{svrCustNo,jdbcType=CHAR}, #{svrCustName,jdbcType=VARCHAR}, #{svrStatus,jdbcType=VARCHAR}, 
      #{svrRequest,jdbcType=VARCHAR}, #{svrCreateId,jdbcType=BIGINT}, #{svrCreateBy,jdbcType=VARCHAR}, 
      #{svrCreateDate,jdbcType=TIMESTAMP}, #{svrDueId,jdbcType=VARCHAR}, #{svrDueTo,jdbcType=VARCHAR}, 
      #{svrDueDate,jdbcType=TIMESTAMP}, #{svrDeal,jdbcType=VARCHAR}, #{svrDealId,jdbcType=BIGINT}, 
      #{svrDealDate,jdbcType=TIMESTAMP}, #{svrResult,jdbcType=VARCHAR}, #{svrSatisfy,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.crm.model.Service" >
    insert into cst_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="svrId != null" >
        svr_id,
      </if>
      <if test="svrType != null" >
        svr_type,
      </if>
      <if test="svrTitle != null" >
        svr_title,
      </if>
      <if test="svrCustNo != null" >
        svr_cust_no,
      </if>
      <if test="svrCustName != null" >
        svr_cust_name,
      </if>
      <if test="svrStatus != null" >
        svr_status,
      </if>
      <if test="svrRequest != null" >
        svr_request,
      </if>
      <if test="svrCreateId != null" >
        svr_create_id,
      </if>
      <if test="svrCreateBy != null" >
        svr_create_by,
      </if>
      <if test="svrCreateDate != null" >
        svr_create_date,
      </if>
      <if test="svrDueId != null" >
        svr_due_id,
      </if>
      <if test="svrDueTo != null" >
        svr_due_to,
      </if>
      <if test="svrDueDate != null" >
        svr_due_date,
      </if>
      <if test="svrDeal != null" >
        svr_deal,
      </if>
      <if test="svrDealId != null" >
        svr_deal_id,
      </if>
      <if test="svrDealDate != null" >
        svr_deal_date,
      </if>
      <if test="svrResult != null" >
        svr_result,
      </if>
      <if test="svrSatisfy != null" >
        svr_satisfy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="svrId != null" >
        #{svrId,jdbcType=BIGINT},
      </if>
      <if test="svrType != null" >
        #{svrType,jdbcType=VARCHAR},
      </if>
      <if test="svrTitle != null" >
        #{svrTitle,jdbcType=VARCHAR},
      </if>
      <if test="svrCustNo != null" >
        #{svrCustNo,jdbcType=CHAR},
      </if>
      <if test="svrCustName != null" >
        #{svrCustName,jdbcType=VARCHAR},
      </if>
      <if test="svrStatus != null" >
        #{svrStatus,jdbcType=VARCHAR},
      </if>
      <if test="svrRequest != null" >
        #{svrRequest,jdbcType=VARCHAR},
      </if>
      <if test="svrCreateId != null" >
        #{svrCreateId,jdbcType=BIGINT},
      </if>
      <if test="svrCreateBy != null" >
        #{svrCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="svrCreateDate != null" >
        #{svrCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="svrDueId != null" >
        #{svrDueId,jdbcType=VARCHAR},
      </if>
      <if test="svrDueTo != null" >
        #{svrDueTo,jdbcType=VARCHAR},
      </if>
      <if test="svrDueDate != null" >
        #{svrDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="svrDeal != null" >
        #{svrDeal,jdbcType=VARCHAR},
      </if>
      <if test="svrDealId != null" >
        #{svrDealId,jdbcType=BIGINT},
      </if>
      <if test="svrDealDate != null" >
        #{svrDealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="svrResult != null" >
        #{svrResult,jdbcType=VARCHAR},
      </if>
      <if test="svrSatisfy != null" >
        #{svrSatisfy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.crm.model.Service" >
    update cst_service
    <set >
      <if test="svrType != null" >
        svr_type = #{svrType,jdbcType=VARCHAR},
      </if>
      <if test="svrTitle != null" >
        svr_title = #{svrTitle,jdbcType=VARCHAR},
      </if>
      <if test="svrCustNo != null" >
        svr_cust_no = #{svrCustNo,jdbcType=CHAR},
      </if>
      <if test="svrCustName != null" >
        svr_cust_name = #{svrCustName,jdbcType=VARCHAR},
      </if>
      <if test="svrStatus != null" >
        svr_status = #{svrStatus,jdbcType=VARCHAR},
      </if>
      <if test="svrRequest != null" >
        svr_request = #{svrRequest,jdbcType=VARCHAR},
      </if>
      <if test="svrCreateId != null" >
        svr_create_id = #{svrCreateId,jdbcType=BIGINT},
      </if>
      <if test="svrCreateBy != null" >
        svr_create_by = #{svrCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="svrCreateDate != null" >
        svr_create_date = #{svrCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="svrDueId != null" >
        svr_due_id = #{svrDueId,jdbcType=VARCHAR},
      </if>
      <if test="svrDueTo != null" >
        svr_due_to = #{svrDueTo,jdbcType=VARCHAR},
      </if>
      <if test="svrDueDate != null" >
        svr_due_date = #{svrDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="svrDeal != null" >
        svr_deal = #{svrDeal,jdbcType=VARCHAR},
      </if>
      <if test="svrDealId != null" >
        svr_deal_id = #{svrDealId,jdbcType=BIGINT},
      </if>
      <if test="svrDealDate != null" >
        svr_deal_date = #{svrDealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="svrResult != null" >
        svr_result = #{svrResult,jdbcType=VARCHAR},
      </if>
      <if test="svrSatisfy != null" >
        svr_satisfy = #{svrSatisfy,jdbcType=INTEGER},
      </if>
    </set>
    where svr_id = #{svrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.crm.model.Service" >
    update cst_service
    set svr_type = #{svrType,jdbcType=VARCHAR},
      svr_title = #{svrTitle,jdbcType=VARCHAR},
      svr_cust_no = #{svrCustNo,jdbcType=CHAR},
      svr_cust_name = #{svrCustName,jdbcType=VARCHAR},
      svr_status = #{svrStatus,jdbcType=VARCHAR},
      svr_request = #{svrRequest,jdbcType=VARCHAR},
      svr_create_id = #{svrCreateId,jdbcType=BIGINT},
      svr_create_by = #{svrCreateBy,jdbcType=VARCHAR},
      svr_create_date = #{svrCreateDate,jdbcType=TIMESTAMP},
      svr_due_id = #{svrDueId,jdbcType=VARCHAR},
      svr_due_to = #{svrDueTo,jdbcType=VARCHAR},
      svr_due_date = #{svrDueDate,jdbcType=TIMESTAMP},
      svr_deal = #{svrDeal,jdbcType=VARCHAR},
      svr_deal_id = #{svrDealId,jdbcType=BIGINT},
      svr_deal_date = #{svrDealDate,jdbcType=TIMESTAMP},
      svr_result = #{svrResult,jdbcType=VARCHAR},
      svr_satisfy = #{svrSatisfy,jdbcType=INTEGER}
    where svr_id = #{svrId,jdbcType=BIGINT}
  </update>
</mapper>